{% extends "page.html" %}
{% load static %}

{% block title %}Nosso Negócio{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/negocio-v5.css' %}">
{% endblock %}

{% block content %}

<div class="banner-section">
  <div class="banner-content">
    <div class="container">
      <div class="banner-title">
        Nosso Negócio
      </div>
    </div>
  </div>
</div>

<div class="timeline-section">
  <div class="container">
    <div class="col-sm-12 col-md-12">
      <div class="timeline-text">
        <p>
          A ZEMPACK, unidade de negócios da JBS, foi criada inicialmente para atender as
          necessidades de acondicionamento dos alimentos produzidos pela Friboi.
        </p>
        <p>
          Hoje, é uma das maiores produtoras do país em seu segmento,
          com unidades em Lins, Barretos e Guaiçara.
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="timeline-image">
        <img src="{% static 'img/negocio/timeline.png'%}">
      </div>
    </div>
  </div>
</div>

<div class="missao-section">
  <div class="container">
    <div class="col-sm-12 col-md-6">
      <div class="missao-title-spacer">
      </div>
      <div class="missao-title">
        Nossa missão:
      </div>
      <div class="missao-text">
        <p>
          Seremos os melhores naquilo que nos propusermos a fazer,
          com foco absoluto em nossas atividades, garantindo os melhores
          produtos e serviços aos clientes, solidez aos fornecedores,
          rentabilidade aos acionistas e a oportunidade de um futuro
          melhor a todos os nossos colaboradores.
        </p>
        <img src="{% static 'img/negocio/cultura.png'%}">
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="missao-image">
        <img src="{% static 'img/negocio/valores.png'%}">
      </div>
    </div>
  </div>
</div>

<div class="valores-section">
  <div class="container">
    <div class="col-sm-12 col-md-12">
      <div class="valores-title">
        Nossos valores:
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="valores-item-title">
        Atitude de Dono
      </div>
      <div class="valores-item-text">
        Comprometido com o resultado, conhece com profundidade aquilo
        que faz e tem a visão do todo. Age com obstinação, disciplina
        e foco no detalhe.
        É mão na massa, busca sempre o melhor naquilo que faz e não
        desiste nunca.
        Está sempre disponível e dá o exemplo.
        Indigna-se, não se conforma, não fica quieto
        nem se omite quando vê algo que não funciona bem ou pode ser melhorado.
        É atento aos gastos e à economia de cada centavo.
        Está engajado com a cultura da organização.
      </div>

      <div class="valores-item-spacer"></div>

      <div class="valores-item-title">
        Disciplina
      </div>
      <div class="valores-item-text">
        Cumpre o combinado, é pontual com horário e seus compromissos.
        Executa suas tarefas de forma disciplinada.
        É focado, pragmático, otimiza o tempo, atividades e recursos.
        Entrega resultados, não cria justificativas e desculpas.
      </div>

      <div class="valores-item-spacer"></div>

      <div class="valores-item-title">
        Humildade
      </div>
      <div class="valores-item-text">
        Sabe ouvir, é atencioso, considera a opinião dos outros, não importa
        quem fez, importa que fizemos.
        Não tem vergonha de perguntar nem de dizer que não sabe.
        Não é arrogante nem vaidoso e age com respeito.
        Não se preocupa com status nem se acha dono da verdade.
        Prioriza o nós e não o eu.
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="valores-item-title">
        Determinação
      </div>
      <div class="valores-item-text">
        É obstinado, entrega resultados superiores e cumpre seus compromissos.
        Faz as coisas acontecerem, busca alternativas para os problemas e engaja
        as pessoas em prol de um objetivo comum.
        Tem senso de urgência, atitude de dono e não desiste nunca.
      </div>

      <div class="valores-item-title">
        Disponibilidade
      </div>
      <div class="valores-item-text">
        É receptivo, acessível, disponível, não tem dia e não tem hora, está
        sempre pronto e tem o trabalho como prioridade.
        Está aberto ao novo, às mudanças e motivado para novos desafios.
      </div>

      <div class="valores-item-title">
        Simplicidade
      </div>
      <div class="valores-item-text">
        Faz as coisas acontecerem de forma simples e prática, é mão na massa,
        vai direto ao ponto, descomplica e desburocratiza respeitando as normas.
      </div>

      <div class="valores-item-title">
        Franqueza
      </div>
      <div class="valores-item-text">
        É direto, sincero, verdadeiro e transparente em suas relações,
        sempre com respeito, de forma positiva, agregadora e acolhedora.
        Não se omite, expressa suas opiniões mesmo quando
        contrária aos demais. Sabe dizer não.
      </div>
    </div>
  </div>
</div>

<div class="trabalhar-section">
  <div class="container">
    <div class="col-sm-12 col-md-6">
      <div class="trabalhar-title">
        Trabalhar <br class="visible-gt-767" />
        continuamente com <br class="visible-gt-767" />
        foco na inovação e <br class="visible-gt-767" />
        na satisfação <br class="visible-gt-767" />
        do cliente.
      </div>
      <div class="trabalhar-text">
        A <strong>ZEMPACK</strong> tem como política a melhoria contínua dos seus processos
        e produtos, atendendo as necessidades de seus clientes e acionistas,
        investindo na capacitação de seus colaboradores, respeitando os
        requisitos legais, comunidade e meio ambiente, com foco
        no desenvolvimento sustentável.

	<p class="text-left" style="margin-top: 6px;font-size: 14px;">Versão 01 - 18/06/2021</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="trabalhar-image">
        <img src="{% static 'img/negocio/trabalhar.png'%}">
      </div>
    </div>
  </div>
</div>

<div class="reciclagem-section">
  <div class="container">
    <div class="col-sm-12 col-md-6">
      <div class="reciclagem-title">
        Compromisso, <br class="visible-gt-767" />
        responsabilidade <br class="visible-gt-767" />
        e profissionalismo.
      </div>
      <div class="reciclagem-text">
        <p>
          Possuímos uma <strong>linha completa de embalagens metálicas</strong>
          para o segmento alimentício e aerossol que atende
          principalmente os setores de higiene e limpeza, inseticidas, industrial,
          veterinário e cosméticos, sempre com total cuidado e preocupação com os
          produtos e o consumidor.
        </p>
        <p>
          Investimos continuamente em desenvolvimento e tecnologias de última geração,
          assegurando <strong>alta produtividade</strong>, além da excelência na qualidade
          das embalagens. Atualmente assumimos um compromisso com a sociedade
          de sermos NET ZERO até 2040.
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="reciclagem-image">
        <img src="{% static 'img/negocio/reciclagem2.png'%}">
      </div>
    </div>
  </div>
</div>

<div class="destaques-section">
  <div class="container">
    <div class="col-sm-12 col-md-6">
      <div class="destaques-icon">
        <img src="{% static 'img/negocio/integracao.png'%}">
      </div>
      <div class="destaques-title">
        Integração total dos <br class="visible-gt-767" />
        processos com alta tecnologia
      </div>
      <div class="destaques-text">
        <ul>
          <li>Parques industriais mais modernos do Brasil;</li>
          <li>Tecnologia de ponta;</li>
          <li>Excelência na aquisição de matérias-primas;</li>
          <li>Linhas de produção de última geração;</li>
          <li>Atendimento às normas regulatórias.</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="destaques-header-spacer"></div>
      <div class="destaques-header">
        <img src="{% static 'img/negocio/qualidade.png'%}">
      </div>
      <div class="destaques-columns">
        <div class="destaques-column">
          <div class="destaques-title visible-gt-767">
            &nbsp; <br />
            Qualidade e foco no cliente
          </div>
          <div class="destaques-text">
            <div class="destaques-title visible-lt-767">
              &nbsp; <br />
              Qualidade e foco no cliente
            </div>
            <ul>
              <li>Câmeras e inspeção visual;</li>
              <li>Controle estatístico;</li>
              <li>Sistemas supervisórios;</li>
              <li>100% de rastreabilidade;</li>
              <li>ISO 9001 e ISO 22716.</li>
            </ul>
          </div>
        </div>
        <div class="destaques-column">
          &nbsp; <br />
          <img src="{% static 'img/negocio/iso-v2.png'%}">
        </div>
      </div>
      <div class="destaques-null"></div>
    </div>
  </div>
</div>

{% endblock %}
