{% extends "page.html" %}
{% load static %}

{% block title %}Política de Privacidade{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/privacidade-v1.css' %}">
{% endblock %}

{% block content %}

<div class="banner-section">
  <div class="banner-content">
    <div class="container">
      <div class="banner-title">
        Política de Privacidade
      </div>
    </div>
  </div>
</div>

<div class="privacidade-section">
	<div class="container">
		<div class="privacidade-text col-md-12 col-sm-12 col-xs-12">

      <p><b><u><span
        lang=PT-BR style=';'>POLÍTICA DE PRIVACIDADE
        </span></u></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>Sua privacidade é muito importante para nós. A ZEMPACK
      valoriza você e está comprometida em proteger a sua segurança e privacidade de
      seus dados.</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>Com esta Política de Privacidade (“Política”)
      pretendemos esclarecê-lo, de forma objetiva e transparente: </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='
      line-height:150%;font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span lang=PT-BR style='line-height:150%;
      ;'>Quais dados pessoais coletamos;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span lang=PT-BR style='line-height:150%;
      ;'>Como e porque motivo utilizamos; </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span lang=PT-BR style='line-height:150%;
      ;'>A quem os divulgamos; e </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span lang=PT-BR style='line-height:150%;
      ;'>Como protegemos a sua privacidade quando
      você utiliza nossos serviços ou visita nossas plataformas. </span></p>

      <p class=MsoListParagraphCxSpLast style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;
      ;'>&nbsp;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>Antes, importante trazermos uma informação sobre os
      dados pessoais de menores de idade. Temos que tomar bastante cuidado com esses
      dados pessoais, assim, apenas pessoas físicas maiores de 18 (dezoito) anos de
      idade completos, encontram-se autorizados a utilizar o website da ZEMPACK,
      anuindo e consentindo à esta condição. Ao concordar com a presente Política,
      você nos dá plena e inquestionável compreensão desta e todos os demais detalhes
      abaixo informados. Caso você seja um menor de idade, pedimos que realize
      qualquer utilização do website da ZEMPACK, com a supervisão dos seus
      representantes legais e sempre inserindo dados pessoais de maiores de idade.   </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;;'>&nbsp;</span></p>

      <p style='margin:0cm;text-align:justify;text-indent:0cm;line-height:150%'><b><span lang=PT-BR style='line-height:      150%;;'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span lang=PT-BR style='line-height:150%;'>Onde a ZEMPACK está presente?</span></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>A ZEMPACK é uma multinacional reconhecida como uma
      das líderes globais da indústria de alimentos, que tem por missão seguir seus
      valores e proporcionar um portifólio de produtos diversificado. </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>Pensando nisso, a ZEMPACK, por meio do website </span><span
      lang=PT-BR><a href="https://zempack.combr/">https://zempack.combr/</a></span><span
      lang=PT-BR style='line-height:150%;'>,
      traz um pouco da sua história, sua missão, valores, seus negócios, sua
      estrutura corporativa, entre outras informações, para que você tenha
      conhecimento sobre a empresa. </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin:0cm;text-align:justify;text-indent:0cm;line-height:150%'><b><span lang=PT-BR style='line-height:150%;'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span lang=PT-BR style='line-height:150%;'>Como usamos seus dados pessoais? </span></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>No contexto do website ZEMPACK, será necessário
      coletar alguns dados pessoais para melhor experiência de navegação no website. Assim,
      usamos seus dados pessoais de várias maneiras diferentes, a depender de cada
      situação específica. </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>As tabelas abaixo descrevem isso em detalhes,
      mostrando o que fazemos e porque fazemos. </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR>&nbsp;</span></p>

      <p style='margin:0cm;text-align:justify;text-indent:0cm;line-height:150%'><b><span lang=PT-BR style='line-height:150%'>(a)<span
      style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span lang=PT-BR style='line-height:150%;
      ;'>Coleta de seus dados pessoais, como nome completo,
      número de telefone e e-mail e outros que para as finalidades sejam necessários.<span
      style='color:red'> </span></span></b></p>

      <p class=MsoListParagraphCxSpLast style='margin:0cm;text-align:justify;line-height:150%'><b><span lang=PT-BR>&nbsp;</span></b></p>

      <div align=center>

      <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
        style='border-collapse:collapse;border:none'>
        <tr>
        <td width=274 valign=top style='width:205.3pt;border:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='margin-bottom:0cm;text-align:justify;line-height:        150%'><span lang=PT-BR>O que nós fazemos? </span></p>
        </td>
        <td width=237 valign=top style='width:177.55pt;border:solid windowtext 1.0pt;border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='margin-bottom:0cm;text-align:justify;line-height:        150%'><span lang=PT-BR>Porque fazemos isso? </span></p>
        </td>
        </tr>
        <tr>
        <td width=274 valign=top style='width:205.3pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='margin-bottom:0cm;text-align:justify;line-height:        150%'><span lang=PT-BR>Identificá-lo quando você visita nosso site ou entrar
        em contato conosco. </span></p>
        </td>
        <td width=237 valign=top style='width:177.55pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
        padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='margin-bottom:0cm;text-align:justify;line-height:        150%'><span lang=PT-BR>Legalmente, precisamos fazer isso. </span></p>
        </td>
        </tr>
      </table>

      </div>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><b><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></b></p>

      <p style='margin:0cm;text-align:justify;text-indent:0cm;line-height:150%'><b><span lang=PT-BR style='line-height:150%'>(b)<span
      style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span lang=PT-BR style='line-height:150%;'>Seu histórico de contato conosco</span></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><b><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>O que você nos disse quando nos procurar – por
      exemplo, por e-mail, mídia social ou mensagem privada, para qualquer
      informação, reclamação, elogios, dentre outros. Se você entrar em contato por
      telefone, também gravamos chamadas para o nosso centro de atendimento ao
      cliente.</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <div align=center>

      <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
        style='border-collapse:collapse;border:none'>
        <tr>
        <td width=293 valign=top style='width:219.8pt;border:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR>O que nós fazemos? </span></p>
        </td>
        <td width=226 valign=top style='width:169.8pt;border:solid windowtext 1.0pt;border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='margin-bottom:0cm;text-align:justify;line-height:        150%'><span lang=PT-BR>Porque fazemos isso? </span></p>
        </td>
        </tr>
        <tr>
        <td width=293 valign=top style='width:219.8pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='margin-bottom:0cm;text-align:justify;line-height:        150%'><span lang=PT-BR>Gravar ou monitorar as ligações telefônicas realizadas
        no serviço de atendimento ao consumidor</span></p>
        </td>
        <td width=226 valign=top style='width:169.8pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
        padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='margin-bottom:0cm;line-height:150%'><span
        lang=PT-BR>Oferecer um melhor serviço e realizar controles de qualidade.</span></p>
        </td>
        </tr>
      </table>

      </div>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><b><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></b></p>

      <p style='margin:0cm;text-align:justify;text-indent:0cm;line-height:150%'><b><span lang=PT-BR style='line-height:150%'>(c)<span
      style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span lang=PT-BR style='line-height:150%;'>Ampliando o Relacionamento com a ZEMPACK </span></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>Você poderá optar por não fornecer qualquer um dos
      dados acima requeridos, porém, para a execução da navegação no website e de
      alguns serviços básicos que a ZEMPACK possa oferecer, certas informações serão
      necessárias para que você possa utilizar integralmente todas as funcionalidades
      do website da ZEMPACK, para que possamos manter o melhor relacionamento com
      você.</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>A ZEMPACK poderá tratar seus dados pessoais, sempre
      na forma da Legislação pertinente, para os fins de cumprimento de leis ou
      regulamentos específicos, em processos judiciais ou administrativos, a pedido
      de Juiz ou órgão público administrativo competente e demais casos previstos na
      Lei Geral de Proteção de Dados e/ou Regulações sobre o assunto. Sempre que
      houver denúncia, procedimento específico, a ZEMPACK deverá cumprir e manter os
      critérios legais de sigilo e confidencialidade, seja perante terceiros, seja
      perante o próprio titular dos dados, exceção apenas ao órgão ou competência
      judicial ou administrativa específica do eventual caso.  </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin:0cm;text-align:justify;text-indent:0cm;line-height:150%'><b><span lang=PT-BR style='line-height:150%;'>3.<span
      style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span lang=PT-BR style='line-height:150%;
      ;'>Com quem compartilhamos suas informações?
      </span></b></p>

      <p style='margin:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>Não vendemos ou trocamos seus dados
      pessoais com terceiros, mas compartilhamos com outras pessoas como parte
      essencial da capacidade de fornecer nossos serviços a você. Podem ser outras
      empresas do grupo, prestadores de serviços ou parceiros de negócio. Estamos
      todos comprometidos em manter suas informações seguras.</span></p>

      <p style='margin:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>A ZEMPACK também poderá compartilhar seus
      dados pessoais a fim de cumprir com as legislações vigentes, para fins fiscais
      e/ou de consumo e cooperar com as autoridades competentes. </span></p>

      <p style='margin:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p class=MsoListParagraphCxSpLast style='margin:0cm;text-align:justify;text-indent:0cm;line-height:150%'><b><span lang=PT-BR style='line-height:150%;'>4.<span
      style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span lang=PT-BR style='line-height:150%;'>Onde e por quanto tempo mantemos seus
      dados pessoais? </span></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><b><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>Todo dado pessoal é armazenado em servidores
      localizados no Brasil e em alguns casos nos Estados Unidos. No futuro, a ZEMPACK
      pode realocar e armazenar esses servidores em qualquer outro país que atenda a
      legislação de privacidade, a fim de ter um suporte ou backup, sempre os
      mantendo sob nossa supervisão e de forma seguras.</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><span lang=PT-BR style='line-height:150%;'>Manteremos suas informações enquanto você possuir
      algum relacionamento com a ZEMPACK e pelo tempo necessário para cumprirmos
      nossos requisitos legais. O período de tempo durante o qual os dados são
      armazenados varia de acordo com a finalidade para que foram coletados, caso não
      exista uma exigência legal específica. </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%'><b><span lang=PT-BR style='line-height:150%;;color:red'>&nbsp;</span></b></p>

      <p style='margin:0cm;text-align:justify;text-indent:0cm;line-height:150%'><b><span lang=PT-BR style='line-height:150%;'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span lang=PT-BR style='line-height:150%;
      ;'>Como mantemos seus dados pessoais
      seguros?</span></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><b><u><span lang=PT-BR style='line-height:150%;'><span style='text-decoration:
        none'>&nbsp;</span></span></u></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>Protegemos seus dados pessoais
      de todos os tipos de ameaça: destruição, perda, alteração, divulgação ou acesso
      não autorizados. A ZEMPACK protege seus Dados Pessoais de acordo com os padrões
      e procedimentos de segurança e confidencialidade estabelecidos pela legislação
      brasileira. </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin:0cm;text-align:justify;text-indent:0cm;line-height:150%'><b><span lang=PT-BR style='line-height:
      150%;;'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span lang=PT-BR style='line-height:150%;
      ;'>Seus direitos</span></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><b><u><span lang=PT-BR style='line-height:150%;'><span style='text-decoration:
        none'>&nbsp;</span></span></u></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>Como seus direitos, você
      poderá solicitar, a todo tempo:</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>a. Informação sobre como
      seus dados pessoais estão sendo usados;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>b. Acessar os dados
      pessoais que mantemos sobre você;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>c. Solicitar a correção
      de dados pessoais inexatos, incompletos ou desatualizados que mantemos sobre
      você; </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>d. Requisitar eventual anonimização,
      bloqueio ou eliminação dos dados desnecessários, excessivos ou tratados em
      desconformidade, sempre levando-se em consideração às exceções quanto à
      manutenção dos dados necessários para fins de cumprimento legal pela ZEMPACK; </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>e. Portabilidade de
      dados a outro fornecedor de serviço ou produto;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>f. Informação sobre a
      possibilidade de não fornecer consentimento sobre as consequências da negativa;
      </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>g. Revogar o consentimento;
      e</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>h. Informações sobre o      compartilhamento de seus dados com entidades públicas e privadas; </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>Qualquer solicitação
      deve ser feita através de um pedido, contendo cópia de sua identificação
      pessoal, RG, Carteira de Motorista, Passaporte ou Identificações Profissionais,
      acessando o site: </span><span lang=PT-BR><a
      href="https://jbs.com.br/contato/portal-de-privacidade/"><span
      style='line-height:150%;'>https://jbs.com.br/contato/portal-de-privacidade/</span></a></span><span
      lang=PT-BR style='line-height:150%;'>
      </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><b><span lang=PT-BR style='line-height:150%;color:red'>&nbsp;</span></b></p>

      <p style='margin:0cm;text-align:justify;text-indent:
      0cm;line-height:150%'><b><span lang=PT-BR style='line-height:
      150%;;'>7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span lang=PT-BR style='line-height:150%;
      ;'>Cookies – Plataforma Digital</span></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><b><u><span lang=PT-BR style='line-height:150%;'><span style='text-decoration:
        none'>&nbsp;</span></span></u></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>Considere que, ao
      acessar o website, a ZEMPACK recebe automaticamente sobre você, através de
      informações de cookies, web beacons, seu navegador e sistema operacional, sobre
      os websites acessados, os links e o endereço IP do terminal. A ZEMPACK utiliza
      a informação coletada principalmente para melhorar a sua experiência em relação
      a navegação do website. </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>Em todo momento, você
      poderá optar por não receber um arquivo de cookie, programando seu navegador
      para recusar cookies ou avisar antes de aceitar um. Leve em conta que, ao
      recusar o aceite de cookies, você poderá não ter acesso a diversas
      funcionalidades do website. </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>Os “Cookies” são
      arquivos de texto que são baixados automaticamente e armazenados no dispositivo
      utilizado, enquanto você navega numa página ou portal específico da internet,
      que permitem guardar determinada quantidade de dados sobre suas atividades na
      internet. Os cookies são utilizados a fim de conhecer os interesses,
      comportamento e demografia Usuários (Visitantes ou não) do website, para poder
      entender melhor suas necessidades e interesses, oferecendo um melhor serviço ou
      fornecendo informação relacionada. </span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin:0cm;text-align:justify;      text-indent:0cm;line-height:150%'><b><span lang=PT-BR style='line-height:150%;'>8.<span
      style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span lang=PT-BR style='line-height:150%;
      ;'>Proteção das Senhas e Do Acesso nos
      Canais de Serviços da ZEMPACK  </span></b></p>

      <p class=MsoListParagraphCxSpLast style='margin:0cm;text-align:justify;      line-height:150%;vertical-align:baseline'><b><u><span lang=PT-BR      style='line-height:150%;'><span
        style='text-decoration:none'>&nbsp;</span></span></u></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>Ao se cadastrar na
      Plataforma Digital por meio da criação de uma conta de acesso específica,
      solicitamos a você criar um nome de usuário e uma senha. Se Você perder o
      controle sobre sua conta ou senha de acesso à Plataforma Digital, você pode
      perder o controle sobre seus dados pessoais. Portanto, se por qualquer motivo
      sua senha estiver comprometida, imediatamente troque-a, modificando os dados de
      registro fornecidos à ZEMPAKC.</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin:0cm;text-align:justify;text-indent:      0cm;line-height:150%'><b><span lang=PT-BR style='line-height:150%;'>9.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span lang=PT-BR style='line-height:150%;'>Links – veículos externos </span></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:
      150%;vertical-align:baseline'><b><u><span lang=PT-BR style='line-height:150%;'><span style='text-decoration:        none'>&nbsp;</span></span></u></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>O website pode contar
      com vínculos (links) a outros websites que tenham suas próprias políticas de
      privacidade e de confidencialidade. Caso você visite outros sites, recomendamos
      que leia atentamente as práticas e políticas de confidencialidade, sendo que
      esta Política de Privacidade não abrange as práticas e políticas de terceiros,
      inclusive aqueles que possam revelar e/ou compartilhar informação com a ZEMPACK.</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin:0cm;text-align:justify;text-indent:      0cm;line-height:150%'><b><span lang=PT-BR style='line-height:150%;'>10.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span lang=PT-BR style='line-height:150%;
      ;'>Informação Pública </span></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><b><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>Considere que, ao
      inserir informação em áreas públicas da Plataforma Digital, ela estará
      disponível para os outros Usuários e para o público geral. A ZEMPACK não pode
      controlar o que essas pessoas fazem com a informação. Por favor, lembre-se
      disso e seja cuidadoso com a informação que decidir divulgar.</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin:0cm;text-align:justify;text-indent:      0cm;line-height:150%'><b><span lang=PT-BR style='line-height:150%;'>11.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span lang=PT-BR style='line-height:150%;
      ;'>Responsável pela Proteção de seu Dado
      Pessoal </span></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><b><u><span lang=PT-BR style='line-height:150%;'><span style='text-decoration:
        none'>&nbsp;</span></span></u></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>O responsável pela base
      de dados no Brasil é a JBS S/A, devidamente inscrita no CNPJ/MF sob nº
      02.916.265/0001-60, localizada na Avenida Marginal Direita do Tietê, 500, Vila Jaguará,
      São Paulo, Brasil.</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;color:red'>&nbsp;</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>A ZEMPACK poderá
      realizar quaisquer alterações nesta Política de Privacidade no futuro. Qualquer
      alteração na forma em que a ZEMPACK utiliza dados pessoais ficará estabelecida
      nas futuras versões desta “Política de Privacidade”, sendo publicada e
      divulgada no website ZEMPACK. Recomendamos revisar periodicamente esta seção.</span></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>&nbsp;</span></p>

      <p style='margin:0cm;text-align:justify;text-indent:      0cm;line-height:150%'><b><span lang=PT-BR style='line-height:150%;'>12.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span lang=PT-BR style='line-height:150%;
      ;'>Legislação Aplicável e Jurisdição </span></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><b><u><span lang=PT-BR style='line-height:150%;'><span style='text-decoration:
        none'>&nbsp;</span></span></u></b></p>

      <p style='margin-bottom:0cm;text-align:justify;line-height:150%;vertical-align:baseline'><span lang=PT-BR style='line-height:150%;'>Os termos desta Política
      de Privacidade são interpretados de acordo com a legislação brasileira, sendo
      eleito o foro da comarca da capital do Estado de domicílio do Usuário para
      dirimir qualquer litígio, questão ou dúvida superveniente, com expressa
      renúncia de qualquer outro, por mais privilegiado que seja.</span></p>

    </div>
	</div>
</div>

{% endblock %}
