{% extends "page.html" %}
{% load static %}

{% block title %}Sustentabilidade{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/sustentabilidade-v3.css' %}">
{% endblock %}

{% block content %}

<div class="banner-section">
  <div class="banner-content">
    <div class="container">
      <div class="banner-title">
        Sustentabilidade
      </div>
    </div>
  </div>
</div>

<div class="intro-section">
  <div class="container">
    <div class="col-sm-12 col-md-12">
      <div class="intro-text">
        <p>
          A Sustentabilidade permeia, de ponta a ponta, os processos
          de produção da ZEMPACK, que busca sempre as melhores práticas do mercado.
          Além disso, todo o ciclo de produção de aço segue o sistema de logística reversa
          e 100% do material descartado no processo produtivo é destinado para
          a JBS Ambiental, que o reinsere no setor por meio de siderúrgicas.
        </p>
        <p>
          A ZEMPACK ainda integra o Acordo Setorial de Embalagens e o Programa
          Prolata - uma iniciativa da Associação Brasileira de Embalagens de Aço
          (Abeaço), com atuação nas cinco regiões do país. O Prolata, que conta
          com apoio da Companhia desde 2012, inclusive para a sua concepção,
          apresenta três frentes de atuação: centros de recebimento para grandes volumes,
          cooperativas de catadores de materiais recicláveis para inclusão social
          e pontos de entrega voluntária para o consumidor final.
          Hoje, são mais de 50 cooperativas associadas que atuam em todo o
          território nacional e até o ano passado mais de 31 mil toneladas de aço
          já foram recicladas.
        </p>
        <p>
          Na linha alimentícia, a embalagem metálica possui o benefício de manter as propriedades
          naturais do produto inalteradas, protegendo os alimentos por mais de dois anos,
          em condições adversas de clima, transporte e manuseio. Já no segmento de aerossol,
          a empresa efetuou os investimentos com foco nas exigências regulatórias ambientais,
          conforme acordo climático firmado pela União Europeia.
        </p>
        <p>
          <strong>Vale ainda destacar que todas as embalagens produzidas pela empresa
            são 100% recicláveis, além de serem leves e resistentes, apresentando
            alta qualidade e robustez.
          </strong>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="chamada-section">
  <div class="container">
    <div class="col-sm-12 col-md-12">
      <div class="chamada-title-spacer">
      </div>
      <div class="chamada-title">
        Nosso <br class="visible-gt-767" />
        Compromisso
      </div>
      <div class="chamada-text">
        <p>
          Preocupados com o meio ambiente, utilizamos impressoras com
          tinta ultravioleta (UV), máquinas para aplicação e cura
          de verniz com sistema Regenerative Termo Oxidizer (RTO),
          que eliminam a emissão de solventes.
          Em associação com a Abeaço, buscamos as melhores
          práticas sustentáveis na produção de latas que dispensam
          conservantes e mantêm as propriedades naturais do produto
          inalteradas.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="compromisso-section">
  <div class="container">
    <div class="col-sm-12 col-md-6">
      <div class="compromisso-coluna-left">
          <img src="{% static 'img/sustentabilidade/saiba-mais.png'%}">
        </a>
        <br /> &nbsp;
        <div class="compromisso-selos">
          <a href="https://fundojbsamazonia.org/quem-somos/o-fundo/" target="_blank" rel="noopener">
            <img src="{% static 'img/sustentabilidade/selo-fundo-amazonia.png'%}" alt="Fundo pela Amazônia" class="selo-fundo-amazonia">
          </a>
          <a href="http://abeaco.org.br/" target="_blank" rel="noopener">
            <img src="{% static 'img/sustentabilidade/selo-abeaco.png'%}" alt="ABEAÇO" class="selo-abeaco">
          </a>
          <a href="https://as.org.br/" target="_blank" rel="noopener">
            <img src="{% static 'img/sustentabilidade/selo-abas.png'%}" alt="ABAS" class="selo-abas">
          </a>
          <a href="https://www.prolata.com.br/" target="_blank" rel="noopener">
            <img src="{% static 'img/sustentabilidade/selo-prolata.png'%}" alt="Pro-lata" class="selo-prolata">
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 visible-gt-991">
      <div class="compromisso-coluna-right">
        <div class="compromisso-imagem">
          <img src="{% static 'img/sustentabilidade/maos.png'%}">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="amazonia-section">
  <div class="container">
    <div class="col-sm-12 col-md-6 amazonia-col-left visible-gt-991">
      <div class="amazonia-coluna-left">
        <div class="amazonia-imagem">
          <img src="{% static 'img/sustentabilidade/amazonia.png'%}">
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 amazonia-col-right">
      <div class="amazonia-coluna-right">
        <div class="amazonia-fundo">
          <img src="{% static 'img/sustentabilidade/fundo-amazonia.png'%}">
        </div>
        <br /> &nbsp;
        <p>
           A sustentabilidade na JBS é um compromisso transversal das Unidades
          de Negócios com áreas da Companhia em todos os países onde a
          empresa mantém operações e realiza negócios com base em uma atuação ética e
          transparente, no relacionamento construtivo com seus staĸeholders e
          na responsabilidade do tratamento dado às pessoas, aos animais e ao meio ambiente. <br />
        </p>
        <p>
          Uma das iniciativas mais importantes é o programa JUNTOS PELA AMAZÔNIA, que integra este compromisso.
          Além de fomentar o desenvolvimento sustentável do bioma amazônico,
          promovendo a conservação e o uso sustentável da floresta,
          prevê a melhoria da qualidade de vida da população que nela reside,
          bem como o desenvolvimento
          de novas tecnologias para preservar o meio ambiente.
          <strong>
            Com a implementação de uma plataforma blocĸchain, inédita no setor de proteína animal,
            ampliará o monitoramento dos fornecedores diretos da JBS para os fornecedores deles.
          </strong>
        </p>
        <p>
          Conheça mais em <a href="https://www.jbs.com.br/sustentabilidade" target="_blank" rel="noopener">
            www.jbs.com.br/sustentabilidade
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="prolata-section">
  <div class="container">
    <div class="col-sm-12 col-md-12">
      <div class="prolata">
        <div class="prolata-coluna-left">
          <div class="prolata-icon">
            <img src="{% static 'img/sustentabilidade/prolata.png'%}">
          </div>
          <div class="prolata-text">
            <p>
              Somos membros fundadores do <strong>PROLATA</strong>, um programa
              permanente de reciclagem de latas de aço pós-consumo, com prazo de duração indeterminado,
              que tem como base o descarte espontâneo de materiais e visa:
            </p>
            <ul>
              <li>Viabilizar o retorno de embalagens de aço descartadas após o uso dos produtos;</li>
              <li>Dar destinação final ambientalmente adequada às latas devolvidas, especialmente por meio de reciclagem de sucata de aço;</li>
              <li>Gerar estatísticas confiáveis sobre os índices de reciclagem de latas de aço;</li>
              <li>Abrir canal direto com o público consumidor final;</li>
              <li>Fomentar centros de reciclagem e parcerias com cooperativas de catadoras e catadores de materiais recicláveis;</li>
              <li>Valorizar o preço da sucata de embalagens de aço;</li>
              <li>Estimular a reciclagem de latas de aço no país.</li>
            </ul>
          </div>
        </div>

        <div class="prolata-coluna-right visible-gt-991">
          <div class="prolata-lata">
            <img src="{% static 'img/sustentabilidade/lata.png'%}">
          </div>
        </div>

        <div class="prolata-clear"></div>

        <div class="prolata-title">
          A <strong>Prolata</strong> tem como <strong>objetivos principais</strong>:
        </div>
        <div class="prolata-text">
          <ul>
            <li>Estar de acordo com as políticas federais, estaduais e municipais;</li>
            <li>Criar subsídios para facilitar o sistema de logística reversa de latas de aço no Brasil;</li>
            <li>Incrementar o índice de reciclagem de embalagens de aço;</li>
            <li>Formalizar o sistema de reciclagem de latas de aço pós-consumo.</li>
          </ul>
        </div>
        <div class="prolata-title">
          O aço e a <strong>economia circular</strong>:
        </div>
        <div class="prolata-text">
          <p>
            Diferentemente do modelo econômico linear (extração, produção, consumo e eliminação),
            a economia circular tem como princípio a redução, a reutilização, a remanufatura e a
            reciclagem de materiais e produtos, trazendo como benefício a
            conservação de matérias-primas, eficiência na gestão de resíduos, redução de emissão,
            além de inovações e empregos.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
