/* banner */
.banner-size {
  width: 100vw;
  height: 44vw;
}

.banner-texts {
  padding-left: 65px;
}

.banner-texts-right {
  padding-right: 65px;
  padding-top: 10vw;
  text-align: right;
}

.banner-title {
  padding-top: 120px;
  font-size: 46px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 100%;
}

.banner-sub-title {
  width: 40%;
  text-align: justify;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 170%;
  color: #ffffff;
}

.banner-sub-title2 {
  width: 40%;
  font-family: 'AmsiProCond';
  text-align: justify;
  padding-top: 30px;
  font-size: 17px;
  font-weight: 500;
  line-height: 160%;
  color: #ffffff;
}

.banner-sub-title-right {
  float: right;
  width: 35%;
  text-align: right;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 170%;
  color: #ffffff;
}

.banner-clear {
  clear: both;
}

.banner1-bg {
  background-image: url("../img/home/banner1.png");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}

.banner2-bg {
  background-image: url("../img/home/banner2.png");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}

.banner3-bg {
  background-image: url("../img/home/banner3.png");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}

.banner4-bg {
  background-image: url("../img/home/banner4.png");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}

.banner-button-line {
  width: 100%;
  padding-top: 30px;
}

.banner-button {
  color: #ffffff;
  width: fit-content;
  text-transform: uppercase;
  font-size: 16px;
  border: 1px;
  background-color: #d00910;
  padding: 8px;
}

.banner-button > img {
  margin-bottom: 5px;
}

.banner-indicators {
  top: 40%;
}

.arrow {
  position: relative;
  width: 18px !important;
  height: 32px !important;
  background-color: transparent !important;
  cursor: pointer;
}

.arrow-left {
  left: -45vw;
}

.arrow-right {
  left: 45vw;
}

@media (max-width: 1199px) {
  .banner-title {
    font-size: 24px;
  }
}

@media (max-width: 991px) {
  .banner-title {
    font-size: 20px;
    padding-top: 15px;
  }
  .banner-sub-title {
    font-size: 11px;
  }
  .banner-texts-right {
    padding-top: 6vw;
  }
}

@media (max-width: 767px) {
  .banner-size {
    height: 102vw;
  }
  .banner-texts {
    padding-left: 14px;
  }
  .banner-texts-right {
    padding-right: 35px;
    padding-top: 3vw;
  }
  .banner-title {
    font-size: 25px;
    height: 170px;
    width: 40%;
    padding-top: 75px;
  }
  .banner-title-home4 {
    padding-top: 50px;
  }
  .banner-title-right {
    padding-left: 53vw;
  }
  .banner-sub-title {
    font-size: 13px;
    position: relative;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    width: 90vw;
    padding-bottom: 10px;
    background-color: #565655;
  }
  .banner-sub-title-right {
    float: none;
    text-align: justify;
    font-size: 13px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    width: 90vw;
    padding-bottom: 10px;
    background-color: #565655;
  }
  .banner1-bg {
    background-image: url("../img/home/banner1-mobile.png");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
  }

  .banner2-bg {
    background-image: url("../img/home/banner2-mobile.png");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
  }

  .banner3-bg {
    background-image: url("../img/home/banner3-mobile.png");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
  }

  .banner4-bg {
    background-image: url("../img/home/banner4-mobile.png");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
  }
  .banner-button-line {
    width: 100%;
    padding-top: 40px;
  }
  .banner-button {
    padding: 6px;
  }
}

/* chamadas */
.chamadas-section {
  font-weight: 100;
  color: #ffffff;
  margin-top: -40px;
}

.chamadas-item-col {
  position: relative;
  height: 449px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.chamada-1 {
  background-image: url("../img/home/chamada1.jpg");
}

.chamada-2 {
  background-image: url("../img/home/chamada2.jpg");
}

.chamada-3 {
  background-image: url("../img/home/chamada3.jpg");
}

.chamada-4 {
  background-image: url("../img/home/chamada4.jpg");
}

.chamadas-item-titulo {
  padding-top: 270px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

.chamadas-item-separator {
  height: 1px;
  margin-left: 20px;
  padding-top: 20px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d00910;
}

@media (max-width: 767px) {
  .chamadas-item-col {
    position: relative;
    top: 0px;
    height: 58vw;
  }

  .chamadas-item-titulo {
    padding-top: 50px;
  }
  .chamada-1 {
    background-image: url("../img/home/chamada1-mobile.png");
    background-size: 100%;
  }

  .chamada-2 {
    background-image: url("../img/home/chamada2-mobile.png");
    background-size: 100%;
  }

  .chamada-3 {
    background-image: url("../img/home/chamada3-mobile-v2.png");
    background-size: 100%;
  }

  .chamada-4 {
    background-image: url("../img/home/chamada4-mobile-v2.png");
    background-size: 100%;
  }
}

/* produto */
.produto-section {
  padding-top: 45px;
  padding-bottom: 0px;
}

.produto-text-col {
  background-color: #ededed;
  background-image: url("../img/white-detail.png");
  background-position-x: left;
  background-position-y: center;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-left: 60px;
}

.produto-text-1 {
  padding-top: 38px;
}

.produto-text-2 {
  padding-top: 65px;
}

.produto-text-3 {
  padding-top: 38px;
}

.produto-title {
  text-transform: uppercase;
  font-size: 46px;
  font-weight: 800;
  line-height: 100%;
  color: #d00910;
  padding-right: 60px;
}

.produto-text {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-right: 60px;
  font-size: 20px;
  text-align: justify;
  text-transform: uppercase;
  color: #707070;
}

.produto-text-zindex {
  z-index: 100;
}

.produto-image-col {
  margin-left: -108px;
  height: 420px;
}

.produto-image-col > img {
  width: 100%;
}

.produto-button-line {
  width: 100%;
  padding-top: 30px;
}

.produto-button {
  color: #ffffff;
  width: fit-content;
  text-transform: uppercase;
  font-size: 16px;
  border: 1px;
  background-color: #d00910;
  padding: 8px;
  margin-right: 0;
  margin-left: auto;
}

.produto-button > img {
  margin-bottom: 5px;
}

.produto-1 {
  background-image: url("../img/home/produto1.png");
}

.produto-2 {
  background-image: url("../img/home/produto2.png");
}

.produto-3 {
  background-image: url("../img/home/produto3.png");
}

@media (max-width: 991px) {
  .produto-image-col {
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  .produto-button {
    margin-right: unset;
    margin-left: unset;
  }
  .produto-button-line {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .produto-section {
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .produto-text-col {
    padding-left: 65px;
  }
  .produto-text {
    padding-right: 23px;
  }
  .produto-negocio-col {
    padding-left: 30px !important;
  }
  .produto-image-col {
    padding-left: 0px;
    margin-left: 0px;
    height: 143px;
    background-size: 100%;
  }
  .produto-text-1 {
    padding-top: 10px;
  }

  .produto-text-2 {
    padding-top: 10px;
  }

  .produto-text-3 {
    padding-top: 10px;
  }
  .produto-1 {
    background-image: url("../img/home/produto1-mobile.png");
  }

  .produto-2 {
    background-image: url("../img/home/produto2-mobile.png");
  }

  .produto-3 {
    background-image: url("../img/home/produto3-mobile.png");
  }
}
