/* banner */
.banner-section {
  background-image: url("../img/news/banner.jpg");
  background-size: 100%;
  height: 23vw;
}

.banner-title {
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  color: #565655;
  border-left: 4px solid #d00910;
  padding-left: 47px;
  line-height: 160%;
  padding-top: 0px;
}

@media (max-width: 1199px) {
  .banner-section {
    background-size: 125%;
    height: 28vw;
  }
  .banner-title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .banner-section {
    background-size: 125%;
    height: 28vw;
  }
  .banner-title {
    font-size: 20px;
  }
}

/* title */
.title-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.title-title {
  padding-left: 50px;
  padding-right: 50px;
  color: #d00910;
  background-image: url(../img/white-detail.png);
  background-color: #ededed;
  background-position-x: left;
  background-position-y: center;
  background-repeat: no-repeat;
  font-size: 50px;
  font-weight: 800;
  line-height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title-title-text {
  width: 45%;
}

.title-image {
  margin-top: -150px;
}

.title-image-image {
  text-align: right;
  width: 95%;
}

.title-image-image > img {
  width: 30%;
}

@media (max-width: 991px) {
  .title-title {
    font-size: 32px;
  }
  .title-title-text {
    width: 100%;
  }
  .title-image {
    margin-top: 0px;
    padding-top: 20px;
  }
  .title-image-image {
    width: 100%;
  }
  .title-image-image > img {
    width: 100%;
  }
}

/* body */
.body-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.body-text {
  padding-left: 60px;
  padding-right: 60px;
}

.body-text-text {
  font-family: 'AmsiProCond';
  font-size: 16px;
}

.body-text-text > p {
  font-family: 'AmsiProCond';
  font-size: 18px;
  text-align: justify;
}

.body-text-text > p > a {
  font-family: 'AmsiProCond';
  font-size: 18px;
  text-align: justify;
}

@media (max-width: 991px) {
  .body-text {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* more */
.more-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.more-subtitle {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}

.more-subtitle-text {
  font-family: 'AmsiProCond';
  font-size: 18px;
  text-align: justify;
}

.more-image {
  margin-top: -150px;
}

.more-image-image {
  text-align: right;
  width: 95%;
}

.more-image-image > img {
  width: 60%;
}

.more-button-line {
  width: 100%;
  padding-top: 30px;
  padding-left: 50px;
}

.more-button {
  color: #ffffff;
  width: fit-content;
  text-transform: uppercase;
  font-size: 16px;
  border: 1px;
  background-color: #d00910;
  padding: 8px;
}

.more-button > img {
  margin-bottom: 5px;
}
